workspace/**/*.rs.bk
workspace/.#*
workspace/.gdb_history
workspace/Cargo.lock
workspace/target/

# editor files
workspace/.vscode/*
!workspace/.vscode/*.md
!workspace/.vscode/*.svd
!workspace/.vscode/launch.json
!workspace/.vscode/tasks.json
!workspace/.vscode/extensions.json
!workspace/.vscode/settings.json
